<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.bidon.mediation.adapter.admob">

    <uses-sdk tools:overrideLibrary="com.google.android.gms.ads.impl,com.google.android.gms.ads_base,com.google.android.gms.measurement.sdk.api,com.google.android.gms.measurement_base" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

</manifest>